@keyframes caret-blink {
    50% {
        opacity: 0;
    }
}

.caret {
    display: inline-block;
    position: absolute;
    animation: caret-blink 1.8s infinite ease;
    background-color: white;
    width: 0.6em;
    height: 1.4em;
    transition: 500ms;
}